body{
    margin: 0;
}
.titlebar_top{
    background-color:   #f3f3f4;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    width: 947px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-family:Arial, Helvetica, sans-serif;

}
.titlebar_top_col1{
    width: 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titlebar_top_col1 label,
.titlebar_top_col21 label{
    font-size: 14px;
    color: #7C8AA5;
}
.titlebar_top_col2{
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
}
.titlebar_top_col21{
    background-color: white;
    width: 26%;
    display: flex;
    align-items: center;
    padding: 7px 30px;
    border-radius: 20px;
    border: 1px solid #171718;
}
.titlebar_top_col22{
    background-color: #8833FF;
    width: 35%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 20px;
    padding-right: 10px;
    margin-right: 70px;
    
}
.titlebar_top_col21 label,
.titlebar_top_col22 label
{
   
    padding-right: 3px;
    font-size: x-small;
    display: flex;
    align-items: left;
    margin-left: 3px;
   
}
.titlebar_top_col22 label{
    color: #e5e5e5;
}

.titlebar_plusIcon{
    color: #C3CAD9;
    font-size: x-small;
    margin-left: -14px;
 
       
}
.titlebar_downloadIcon{
    color: rgb(113, 183, 183);
    font-weight: 100;
}
.titlebar_bagIcon_Products{
    margin-left: 38px;
    margin-right: 20px;
    font-size: 20px;
    color: #4D5E80;

}
.titlebar_bagIcon_Active{
    margin-left: 215px;
    margin-right: 20px;
    color: #8833FF;
}
.titlebar_bagIcon_Draft{
    margin-left: 20px;
    margin-right: 20px;
    color: #4D5E80;
}
.titlebar_bagIcon_Assembly{
    margin-left: 20px;
    margin-right: 20px;
    color: #4D5E80;
}
.titlebar_underline{
    
    background-color: #8c44f8;
    margin: 0px 0px 0px 390px;
    width: 74px;
    font-size: 2px;
    margin-left: 45vh;
    
}